.title {
	text-align: center;
	color: #fcb44b;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

.paragraph {
	color: #4f3075;
	font-family: "Gill Sans", sans-serif;
	font-size: 1em;
	width: 70%;
	font-weight: bold;
	margin-left: 10%;
	text-align: justify;
}

.formulaire {
	display: flex;
	justify-content: center;
	margin-top: 3em;
	
}
.form-block {
	flex-direction: row;
	margin-top: 0.8em;
}

input, textarea {
	border: solid 0.2em #4f3075;
	border-radius: 1em;
}

fieldset {
	background-color: #fff;
	border: solid 0.35em #4f3075;
	border-radius: 2em;
}
legend {
	background-color: #4f3075;
	color: #fff;
	padding: 3px 6px;
}
.submit-btn {
	margin-top: 0.8em;
	text-decoration: none;
	border: solid 0.5em #4f3075;
	border-radius: 3em;
	font-size: 1em;
	background-color: #4f3075;
	color: white;
	cursor: pointer;
	transition: all 0.3s linear;
}