body{
    font-family: "Gill Sans", sans-serif;
    background-color: #4b3961;
    margin: 0;
    padding: 0;
    display: block;
    background-image: url(../image/bg-sombre.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

/*Introduction*/

.introduction-title {
	height: auto;
    padding-top: 3.6em;
    padding-bottom:2em;
	text-align: center;
	color: #fcb44b;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

.introduction-text {
	color: white;
	font-family: "Gill Sans", sans-serif;
	font-weight: bold;
	text-align: center;
    margin: 0 3em 0 3em;
}

/*Avantages*/

.titre-avantages{
    text-align:center;
    padding-top:5em;
    color:#fcb44b;
}

    /*Première Partie*/

.premiere-partie{
    background-color:black;
    color:white;
    display:flex;
    justify-content:center;
    height:auto;
    border-top: solid 0.2em;
    border-bottom: solid 0.2em;
    border-color:#fcb44b;
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
}

.premiere-partie img{
    margin:1em 0 1em 0;
    height:25em;
}

.premiere-partie p{
    display:flex;
    justify-content: center;
    align-self:center;
    text-align:center;
    font-size:1.
}

/*Responsive*/

@media (min-width:740px)
{
    .introduction-text{
        margin:0 7em 0 7em;
        font-size:1.5em;
    }

    .premiere-partie{
        background-color:black;
        color:white;
        display:flex;
        justify-content:center;
        height:auto;
        border-top: solid 0.2em;
        border-bottom: solid 0.2em;
        border-color:#fcb44b;
        display:flex;
        align-content:row;
        justify-content:space-evenly;
        flex-wrap:nowrap;
    }
    
    .premiere-partie img{
        margin:1em 0 1em 2em;
        height:35em;
    }

    .premiere-partie p{
        margin-right:2em;
        height:auto;
        font-size:1.3em;
    }
}