body{
	font-family: "Gill Sans", sans-serif;
	background-color: #4b3961;
	margin: 0;
	padding: 0;
	display: block;
	background-image: url(../image/bg-sombre.jpg);
	background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	overflow-x: hidden;
}
	
/*contact*/

.title {
	height: auto;
    padding-top: 3.6em;
    padding-bottom:2em;
	text-align: center;
	color: #fcb44b;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
}

.paragraph {
	color: white;
	font-family: "Gill Sans", sans-serif;
	font-weight: bold;
	text-align: center;
	margin:0 3em 0 3em;
}

.formulaire {
	display: flex;
	justify-content: center;
	margin-top: 3em;
	color: #fff;
}

.form-block {
	flex-direction: row;
	margin-top: 0.8em;
}

input, textarea {
	border: solid 0.2em #fcb44b;
	border-radius: 1em;
}

fieldset {
	background-color: #4f3075;
	border: solid 0.35em #fcb44b;
	border-radius: 2em;
}
legend {
	background-color: #4f3075;
	color: #fff;
	padding: 3px 6px;
}
.submit-btn {
	margin-top: 0.8em;
	text-decoration: none;
	border: solid 0.5em #fcb44b;
	border-radius: 3em;
	font-size: 1em;
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 1.0);
	background-color: #fcb44b;
	color: white;
	cursor: pointer;
	transition: all 0.3s linear;
}
.button-form {
	display: flex;
	justify-content: center;
}

/*button*/

.button{
    text-decoration: none;
    border: solid 0.1em #fcb44b;
    border-radius: 3em;
    font-size: 1em;
    word-spacing: 0.2em;
    padding: 0.5em 1em;
    background-color: #4b3961;
    color: white;
    cursor: pointer;
    transition: all 0.3s linear;
    font-family: "Gill Sans", sans-serif;
}
    
.button:hover{
    background: #fcb44b;
    border: solid 0.1em #fcb44b;
}

@media (min-width:740px)
{
	.title{
		font-size:2.2em;
	}
	.paragraph{
		margin:0 7em 0 7em;
		font-size:1.5em;
	}
}