body{
    background: #4f3075;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

.navbar{
    background: rgb(255, 255, 255);
}
.fondblanc{
    background: #fff;
    border-bottom: solid 3px #fcb44b;
}

.nav-link{
    padding-top: 1em;
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

nav ul li a{
    font-family: "Gill Sans", sans-serif;
    font-size: 1.3em;
    padding: 0.3em 1.5em;
    text-decoration: none;
    color: white;
    background: #4f3075;
    border: solid 0.2em #4f3075;
    border-radius: 1em;
    transition: all 0.2s linear;
}

nav ul li a:hover{
    background: #fcb44b;
    border: solid 0.2em #fcb44b;
}

.présentation {
    height: 10em;
    display: flex;
    align-items: center;    
    padding-left: 8em;
}

.présentation p{
    text-align: center;
    color: #4f3075;
    font-family: "Gill Sans", sans-serif;
    font-size: 1em;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    font-weight: bold;
    margin-bottom: 4em;
    text-align: center;
}

.titre {
    color: #fcb44b;
    font-family: "Gill Sans", sans-serif;
    width: 100%;   
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    display: flex;
    justify-content: center;
    width: 20em;
}

.titre-avantages h1 {
    border: solid #fcb44b;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #fff;
    font-family: "Gill Sans", sans-serif;
    width: 100%;   
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    width: 20em;
}

.titre-avantages p {
    color: #fff;
    font-weight: bold;
    margin-top: 5.5em;
    margin-right: 2em;
    font-family: "Gill Sans", sans-serif;
}

.premierepartie {
    display: flex;
}

.premierepartie p{
    color: #fff;
    font-weight: bold;
    margin: 7.6em 3em 0 0;
    font-family: "Gill Sans", sans-serif;
    text-align: justify;
}

.infominagehaut img{
    margin: 5em 0 5em 5em;
    border-radius: 1.5em;
    width: 25em;
    height: 30em;
}

.accoladedroite img{
    margin-top: 7.33em;
    margin-left: -6em;
    display: flex;
    justify-content: center;
    color: #fff;
    height: 25em;
}

.deuxiemepartie {
    display: flex;
    flex-direction: row-reverse;
}

.deuxiemepartie p{
    color: #fff;
    font-weight: bold;
    margin: 6.7em 0 0 3em;
    font-family: "Gill Sans", sans-serif;
    text-align: justify;
}

.infominagebas img{
    margin: 5em 5em 5em 0;
    border-radius: 1.5em;
    width: 25em;
    height: 30em;
}

.accoladegauche img{
    margin-top: 7.33em;
    margin-right: -6em;
    display: flex;
    justify-content: center;
    color: #fff;
    height: 25em;
}

.textminagebas {
    display: flex;
    margin-bottom: 0em;
}

.troisiemepartie {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin: 5em 8em 0 8em;

}

.minagehaut img{
    width: 7.5em;
    height: 30em;
    border-radius: 1.5em;
}

.minagebas img{
    width: 7.5em;
    height: 30em;
    border-radius: 1.5em;
}

.textefin {
    color: #fff;
    font-weight: bold;
    font-family: "Gill Sans", sans-serif;
    text-align: center;
    font-size: 1.32em ;
    margin: 3.5em 25% 
}

#retournerenhaut {
    background: #4f3075;
    border-radius: 3em;
    border: solid #fcb44b;
    outline: none;
    margin: 0 3em 3em 0;
    position: fixed;
    right: 10px;
    bottom: -1em;
}

i {
    color: #fff;
}
