body{
    font-family: "Gill Sans", sans-serif;
    background-color: #4b3961;
    margin: 0;
    padding: 0;
    display: block;
    background-image: url(../image/bg-sombre.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
}

a {
    color: #000;
}

/*Introduction*/

.introduction {
    height: auto;
    padding-top: 3.6em;
    padding-bottom:2em;
}

.texte{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.introduction .texte p{
    text-align: center;
    color: #fff;
    font-family: "Gill Sans", sans-serif;
    width: 100%;
    font-weight: bold;
}

.introduction .texte h2{
    text-align: center;
    color: #fcb44b;
    font-family: "Gill Sans", sans-serif;
    width: 100%;
    font-weight: bold;
}

/*button*/

.button{
    text-decoration: none;
    border: solid 0.1em #fcb44b;
    border-radius: 3em;
    font-size: 1em;
    word-spacing: 0.2em;
    padding: 0.5em 1em;
    background-color: #4b3961;
    color: white;
    cursor: pointer;
    transition: all 0.3s linear;
    font-family: "Gill Sans", sans-serif;
}

.button:hover{
    background: #fcb44b;
    border: solid 0.1em #fcb44b;
}

/*responsive*/
@media (min-width: 740px) {
    .introduction .texte h2{
        font-size:2.2em;
    }
    
    .introduction .texte p{
        font-size: 1.5em;
    }
}