.footer{
    background-color:#583c7a;
    color:white;
    text-align:center;
    height:auto;
    padding-top:1em;
    padding-bottom:2em;
    margin-top:2.5em;
}

.footer-menu p{
    margin-top:2em;
    margin-bottom:2em;
}

.footer-plan{
    margin:2em 0 2em 0;
}

.footer-menu li a{
    text-decoration:none;
    color:white;
}

.footer-contact-button{
    margin-top:3.5em;
}